<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Proyectos">Ligas</a>
        </li>
        <li>
            <a href="#">Ingresar datos</a>
            <ul>
                <li>
                    <a href="/Crear_Liga">Ingresa una Nueva Liga</a>
                </li>
                <li>
                    <a href="/Crear_form">Ingrese Nuevo Jugador</a>
                </li>
                <li>
                    <a href="/Crear_Proyecto">Ingresa tu Equipo!!</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/About">About</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}