{% extends 'base.html' %}

{% block content %}
    <h1>Busca tu liga de preferencia o equipo!!</h1>

    <form method="POST" action="{% url 'buscar' %}">
        {% csrf_token %}
        {{ form.termino.label_tag }}
        {{ form.termino }}
        {{ form.tipo_busqueda.label_tag }}
        {{ form.tipo_busqueda }}
        <button type="submit">Buscar</button>
    </form>

    {% if equipos %}
        <h2>Resultados de búsqueda de equipos:</h2>
        <ul>
            {% for equipo in equipos %}
                <li>{{ equipo.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if ligas %}
        <h2>Resultados de búsqueda de ligas:</h2>
        <ul>
            {% for liga in ligas %}
                <li>{{ liga.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
