{% extends 'base.html' %}

{% block content %}

<h1>Resultado de la búsqueda de equipos</h1>

<form method="GET" action="{% url 'buscar_equipos' %}">
    <input type="text" name="query" placeholder="Buscar equipo...">
    <button type="submit">Buscar</button>
</form>

{% if equipos %}
    <ul>
        {% for equipo in Equipos %}
            <li>
                <a href="{% url 'detalle_equipo' equipo.id %}">{{ equipo.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron equipos. Vuelve a intentar!!</p>
{% endif %}

<a href="{% url 'buscar_equipos' %}" class="btn">Buscar otro equipo</a>

{% endblock %}







